<template>
  <section class="container">
    <h1 class="title">Simple API</h1>
    <h2 class="subtitle">User List</h2>

  <div class="columns">
    <div class="column">
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" v-model="user.name">
        </div>
      </div>
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="text" v-model="user.email">
        </div>
      </div>
      <div class="field">
        <label class="label">Mobile</label>
        <div class="control">
          <input class="input" type="text" v-model="user.mobile">
        </div>
      </div>
      <div class="control" v-bind:class="{hidden: !isHidden}">
        <button class="button is-link" @click="add(user)">Submit</button>
      </div>
      <div class="control" v-bind:class="{hidden: isHidden}">
        <button class="button is-link" @click="update(user)">Update</button>
      </div>
    </div >
    <div class="column">
      <ul class="panel">
        <li class="panel-heading">User List</li>
        <li class="panel-block" >
          <table class="table">
            <tr v-for="user in users" :key="user.id">
              <td>{{user.name}} </td>
              <td > {{user.email}}  </td>
              <td > {{user.mobile}} </td>
              <td ><button class="button is-info" @click="get(user._id)">update</button> </td>
              <td ><button class="button is-danger" @click="remove(user._id)">Delete</button></td>  
          </tr>
          </table>
        </li>
      </ul>
    </div>
  </div>
    
    
  </section>
</template>
<script>
import {mapState,mapActions} from 'vuex'
export default{
  data(){
    return{
      user:{
        name:'',
        email:'',
        mobile:''
      },
      isHidden : true,
      activeItem:null
    }
  },
  methods:{
    add(user){
      this.$store.dispatch('add',user)
      this.user.name=''
      this.user.email=''
      this.user.mobile=''
    },
    remove(id){
      this.$store.dispatch('remove',id)
    },
    get(id){
      this.$store.dispatch('get',id).then((res)=>{
        this.user.name = res.name
        this.user.email=res.email
        this.user.mobile = res.mobile
        this.activeItem = res
        this.isHidden = false
      })
    },
    update(){
      this.$store.dispatch('update', {id: this.activeItem._id, data:this.user,update:{
        name : this.user.name,
        email : this.user.email,
        mobile : this.user.mobile
      }})
      this.user.name=''
      this.user.email=''
      this.user.mobile=''
      this.isHidden = true
      this.$router.app.refresh()
    }
  },computed: mapState([
    'users'
  ]),
  
}
</script>

<style media="screen">
  .hidden{
    display: none;
  }
</style>